{% extends "layout.html" %}
{% block title %}
    <h1>PRESCRIPTION_ADD</h1>
{% endblock title %}
{% block content %}
----- buraya if
<form role="form" action="{{url_for('add_exam_pres',id =id,pid = pid)}}" method="post" name="submit" class="form-horizontal">
    
    <div class="col-xs-12">
            <div class="col-md-12" >
                <h3> Examination</h3>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="exam_type">Examination Type</label>  
                        <div class="col-md-5">
                            <input id="exam_type" name="exam_type" type="text" placeholder="" class="form-control input-md" required>
                        </div>

                        <label class="col-md-4 control-label" for="duration">Duration</label>
                        <div class="col-md-5">
                            <input id="duration" name="duration" type="number" min="1" max="50" placeholder="" class="form-control input-md" required>
                        </div>

                        <label class="col-md-4 control-label" for="place">Place</label>  
                        <div class="col-md-5">
                            <input id="place" name="place" type="text" placeholder="" class="form-control input-md" required>
                        </div>
                    </div>
            </div>
        </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Submit" name="Add" class="btn btn-primary">Add</button>
        </div> 
    </div>
</form>
{% if log_id == 3 %}
{% else %}
<div class="alert alert-danger" role="alert">
    Your are not authorized to access this page! Please go back to home page!
</div>
{% endif %}
{% endblock content %}