{% extends "layout.html" %}
{% block title %}
    <h1>HOSPITALS </h1>
{% endblock title %}
{% block content %}
<table>
    <tr>
        <th>POLICLINIC ID </th>
        <th>HOSPITAL NAME </th>
        <th>POLICLINIC NAME </th>
        <th>DOCTOR NAME </th>
        <th>WORKING HOURS</th>
        <th>RESULT CONTROL </th>
    </tr>
    {% for item in policlinic %}
    <tr>
        <td><form action="{{url_for('det_pol_del',id=item[0])}}">
                {{item[0]}}<input type="submit" value="delete" /> 
            </form></td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
        <td>{{item[8]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        
    </tr>
    {% endfor %}
</table>
<form action="{{url_for('add_pol_det',hospital_id = hospital_id, pol_id = pol_id)}}">
    <input type="submit" value="Add" /> 
</form>
{% endblock content %}