{% extends "layout.html" %}
{% block title %}
    <h1>PRESCRIPTION</h1>
{% endblock title %}
{% block content %}
<table>
    <tr>
        <th>PRESCRIPTION ID </th>
        <th>DRUG NAME </th>
        <th>DOSAGE </th>
        <th>REGULAR DRUG </th>
    </tr>
    {% for item in P_Drugs %}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>

    </tr>
    {% endfor %}

</table>
<table>
        <tr>
            <th>PRESCRIPTION ID </th>
            <th>EXAMINATION TYPE </th>
            <th>DURATION </th>
            <th>PLACE </th>
        </tr>
        {% for item in P_Examination %}
        <tr>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
    
        </tr>
        {% endfor %}
    
    </table>
{% endblock content %}