{% extends "layout.html" %}
{% block content %}
 
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Drugs Page</legend>

            <div class="form-group">
                {{ form.select.label }}
                {{ form.select }}
            </div>

            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.year.label(class="form-control-label") }}
                {{ form.year(class="form-control") }}
            </div>
                
            <div class="form-group">
                {{ form.founder.label(class="form-control-label") }}
                {{ form.founder(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.country.label(class="form-control-label") }}
                {{ form.country(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.workers.label(class="form-control-label") }}
                {{ form.workers(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.factories.label(class="form-control-label") }}
                {{ form.factories(class="form-control") }} 
            </div>
            
            <div class="form-group" align='center'>
                {{ form.submit(class="btn btn-outline-info") }}
                {{ form.delete(class="btn btn-outline-info") }}
            </div>

        </fieldset>
    </form>
</div>
<table>
    <tr>
        <th>NAME</th>
        <th>FOUNDATION YEAR</th>
        <th>FOUNDER</th>
        <th>COUNTRY</th>
        <th>WORKER NUMBER</th>
        <th>FACTORY NUMBER</th>
    </tr>
    {% for item in DrugCompanies %}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}