{% extends "layout.html" %}
{% block content %}
    
<table>
    <tr>
        <th>NAME</th>
        <th>FOUNDATION YEAR</th>
        <th>FOUNDER</th>
        <th>COUNTRY</th>
        <th>WORKER NUMBER</th>
        <th>FACTORY NUMBER</th>
    </tr>
    {% for item in DrugCompanies %}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}