{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Drugs Page</legend>
            <div class="form-group">
                {{ form.select.label }}
                {{ form.select}}
            </div>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.company.label(class="form-control-label") }}
                {{ form.company(class="form-control") }}
            </div>
                
            <div class="form-group">
                {{ form.size.label(class="form-control-label") }}
                {{ form.size(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.shelf.label(class="form-control-label") }}
                {{ form.shelf(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.typ.label(class="form-control-label") }}
                {{ form.typ(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.price.label(class="form-control-label") }}
                {{ form.price(class="form-control") }} 
            </div>
            
            <div class="form-group" align='center'>
                {{ form.submit(class="btn btn-outline-info") }}
                {{ form.delete(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>


<table>
    <tr>
        <th>NAME</th>
        <th>COMPANY</th>
        <th>SIZE</th>
        <th>SHELF LIFE</th>
        <th>TYPE</th>
        <th>PRICE</th>
    </tr>
    {% for item in Drugs %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[4]}}</td>
    </tr>
    {% endfor %}

</table>

{% endblock content %}