{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Drugs Search Page</legend>
            <div class="form-group">
                {{ form.select.label(class="form-control-label") }}
                {{ form.select(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.search.label(class="form-control-label") }}
                {{ form.search(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>

{% if filtered %}
<div class="table-responsive">
    <table class = "table" style='margin-top: 2%; table-layout: fixed;'>
        <tr>
            <th>NAME</th>
            <th>COMPANY</th>
            <th>SIZE</th>
            <th>SHELF LIFE</th>
            <th>PRICE</th>
            <th>TYPE</th>
        </tr>
        {% for item in Drugs %}
        <tr>
                <td><a href="{{ url_for('prescription_page',id=item[0]) }}">{{item[0]}}</a></td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}


{% endblock content %}