{% extends "layout.html" %}
{% block title %}
    <h1>SHIFT TABLE </h1>
{% endblock title %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
            {{ form.csrf_token }}
            <fieldset class="form-group">
            <legend class="border-bottom mb-2">Shift Page</legend>
            <br></br>
            <div class="form-group">
                {{ form.personnel_id.label(class="form-control-label") }}
                {{ form.personnel_id(class="form-control") }}
            </div>
            <div class="form-group col">
                {{ form.shift_begin_date.label(class="form-control-label") }}
                {{ form.shift_begin_date(class="form-control", placeholder="YYYY-MM-DD") }}
            </div>
            <div class="form-group col">
                {{ form.shift_repeat_interval.label(class="form-control-label") }}
                {{ form.shift_repeat_interval(class="form-control", placeholder="'4 DAY'") }}
            </div>
            <div class=form-row>
            <div class="form-group col-md-8">
                {{ form.shift_hours.label(class="form-control-label") }}
                {{ form.shift_hours(class="form-control", placeholder="'8 HOUR'") }}
            </div>
            <div class="form-group col-md-4">
                {{ form.dayshift.label(class="form-control-label",) }}
                {{ form.dayshift(class="form-check-input", type="radio" ) }}
            </div>
            <div class="form-group col-md-8">
                {{ form.emergency_area_assigned.label(class="form-control-label") }}
                {{ form.emergency_area_assigned(class="form-control", placeholder="(Green,Yellow,Red)") }}
            </div>
        </div>
            <div class="form-group">
                    <br></br>
                    <br></br>
                {{ form.submit(class="btn btn-info") }}
            </div>
        </fieldset>
    </form>
</div>
<table>
    <tr>
        <th>PERSONNEL NAME </th>
        <th>SHIFT DAY </th>
        <th>NEXT SHIFT IN # DAYS  </th>
        <th>SHIFT LENGTH </th>
        <th>SHIFT DURING DAYTIME </th>
        <th>EMERGENCY AREA CATEGORY </th>
    </tr>
    {% for item in data %}
    <tr>
        <td>
                {% if stat==1 or stat==7 %}
                <form method="POST" action="">
                <input type="checkbox" name="del_shift" value="{{item.get_id()}}">
                {% endif %}
            <a href="{{ url_for('single_personnel_page' , personnel_id = item.get_personnel_id()) }}">
                    {{item.get_name()}}
            </a>
        </td>
        <td>{{item.get_begin()}}</td>
        <td>{{item.get_repeat()}}</td>
        <td>{{item.get_hours()}}</td>
        <td>{{item.get_dayshift()}}</td>
        <td>{{item.get_ea()}}</td>
    </tr>
    {% endfor %}
</table>
{% if stat==1 or stat==7%}
<br></br>
        {{ delform.csrf_token }}
<div class="delform-group">
          {{ delform.delete(class="btn btn-danger") }}
 </div>
</form>
{% endif %}
{% endblock content %}
