{% extends "layout.html" %}
{% block title %}
    <h1>SHIFT TABLE </h1>
{% endblock title %}
{% block content %}
<table>
    <tr>
        <th>PERSONNEL NAME </th>
        <th>SHIFT DAY </th>
        <th>NEXT SHIFT IN # DAYS  </th>
        <th>SHIFT LENGTH </th>
        <th>SHIFT DURING DAYTIME </th>
        <th>EMERGENCY AREA CATEGORY </th>
    </tr>
    {% for item in data %}
    <tr>
        <td>
            <a href="{{ url_for('single_personnel_page' , personnel_id = item[0]) }}">
                    {{item[1]}}
            </a>
        </td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
