{% extends "layout.html" %}
{% block title %}
    <h1>HOSPITALS </h1>
{% endblock title %}
{% block content %}
{% if stat==1 or stat==7 %}
    <a href="{{url_for('add_hospital')}}" class="btn btn-light">Add Hospital</a>
{% endif %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Hospital Page</legend>
            <div class="form-group">
                {{ form.selection.label(class="form-control-label") }}
                {{ form.selection(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.search.label(class="form-control-label") }}
                {{ form.search(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.publicHos.label(class="form-control-label") }}
                {{ form.publicHos(class="form-control") }}
            </div>
            <br></br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
<table>
    <tr>
        <th>NAME </th>
        <th>PUBLIC HOSPITAL </th>
        <th>LOCATION </th>
        <th>ADMINISTRATOR </th>
        <th>PHONE NUMBER </th>
        <th>AMBULANCE COUNT </th>
    </tr>
    {% for item in hospital %}
    <tr>
        <td>
                <a href="{{ url_for('hospital_personnel_page' , hospital_id = item[0]) }}">
                        {{item[1]}}
                </a>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}