{% extends "layout.html" %}
{% block title %}
    <h1>HOSPITALS </h1>
{% endblock title %}
{% block content %}
{% if stat==1 or stat==7 %}
    <a href="{{url_for('add_hospital')}}" class="btn btn-primary" role="button">Add Hospital</a>
    <br></br>
{% endif %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Hospital Page</legend>
            <div class="form-group">
                {{ form.selection.label(class="form-control-label") }}
                {{ form.selection(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.search.label(class="form-control-label") }}
                {{ form.search(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.publicHos.label(class="form-control-label") }}
                {{ form.publicHos(class="form-control") }}
            </div>
            <br></br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>
<table>
    <tr>
        <th>NAME </th>
        <th>PUBLIC HOSPITAL </th>
        <th>LOCATION </th>
        <th>ADMINISTRATOR </th>
        <th>PHONE NUMBER </th>
        <th>AMBULANCE COUNT </th>
    </tr>
    {% for item in hospital %}
    <form method="POST" action="">
    <tr>
        <td>
                {% if stat==1 or stat==7 %}
                <input type="checkbox" name="del_hospitals" value="{{item.get_id()}}">
                {% endif %}
                <a href="{{ url_for('hospital_personnel_page' , hospital_id = item.get_id()) }}">
                        {{item.get_name()}}
                </a>
            </td>
        <td>{{item.get_public()}}</td>
        <td>{{item.get_location()}}</td>
        <td>{{item.get_administrator()}}</td>
        <td>{{item.get_telephone_number()}}</td>
        <td>{{item.get_ambulance_count()}}</td>
    </tr>
    {% endfor %}
</table>
{% if stat==1 or stat==7 %}
<br></br>
        {{ delform.csrf_token }}
<div class="delform-group">
          {{ delform.delete(class="btn btn-danger") }}
 </div>
</form>
{% endif %}
{% endblock content %}