{% extends "layout.html" %}

{% block content %}
<style>
table,th,td{
    border: 1px solid black;
    padding: 16px;
    white-space: nowrap;
}
table tr:nth-child(even){
    background-color:#eee;
}
table tr:nth-child(odd){
    background-color:#fff;
}
table th{
    color:white;
    background-color:darkkhaki;
}

</style>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Patients Page</legend>
            <div class="form-group">
                {{ form.select.label(class="form-control-label") }}
                {{ form.select(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.search.label(class="form-control-label") }}
                {{ form.search(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
    </form>
</div>

<table style='margin-top: 2%'>
    <tr>
        <th>NAME</th>
        <th>AGE</th>
        <th>SEX</th>
        <th>TCKN</th>
        <th>PHONE</th>
        <th>COMPLAINT</th>
        <th>INSURANCE</th>
    </tr>
    {% for item in Patients %}
    <tr>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        {% if item[3] %}
            <td>Female</td>
        {% else %}
            <td>Male</td>
        {% endif %}
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}