{% extends "layout.html" %}
{% block content %}
    <h1>Pharmacy Page</h1>
    <h2> On Duty Pharmacy </h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Telephone number</th>
        </tr>
        {% for items in on_duty %}
        <tr>
            
            <td>{{items[0]}}</td>
            <td>{{items[1]}}</td>
            <td>{{items[2]}}</td>
        </tr>
        {% endfor %}
    </table>
    </br>
    </br>

{% if logged_in %}
    <table>
        <caption> Your Pharmacies Info</caption>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Next Night Shift </th>
            <th>Telephone number</th>
        </tr>
        <tr>
            <td>{{Pharma[0]}}</td>
            <td>{{Pharma[1]}}</td>
            <td>{{Pharma[2]}}</td>
            <td>{{Pharma[3]}}</td>
        </tr>
    </table>
    </br>
    <table>
        <caption>Employees working here</caption>
        <tr>
            <th>Name</th>
            <th>Telephone number</th>
        </tr>{% if pharmacist %}
        <tr>
            <td>{{pharmacist[0]}}</td>
            <td>{{pharmacist[1]}}</td>
            <td><form method="POST" action="">
                {{ forms.csrf_token() }}
			{{ forms.request_id(value=0) }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ forms.delete(class="btn btn-outline-info") }}
                    </div>
                    <div class="form-group">
                        {{ forms.edit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form> </td>
        </tr>
        {% else %}
    </table>
	<table>
		<tr>
			<th>Pharmacist</th>
			<th>tckn</th>
			<th>name</th>
			<th>telephone number</th>
			<th>school</th>
			<th>graduation year</th>
			<th> years worked here</th>
		</tr>
		<tr><form method="POST" action="">
                {{ add_form.csrf_token() }}
			{{ add_form.request_id(value=0) }}
			<td> {{add_form.submit}} </td>
			<td> {{ add_form.tckn}} </td>
			<td> {{add_form.name}} </td>
			<td> {{ add_form.tel_num}} </td>
			<td> {{add_form.school}} </td>
			<td> {{add_form.graduation_year}} </td>
			<td> {{add_form.years_worked}} </td>
			</form>
		</tr>
        {% endif %}
        {% if helper %}
        <tr>
            <td>{{helper[0]}}</td>
            <td>{{helper[1]}}</td>
            <td><form method="POST" action="">
                {{ forms.csrf_token() }}
			{{ forms.request_id(value=1) }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ forms.delete(class="btn btn-outline-info") }}
                    </div>
                    <div class="form-group">
                        {{ forms.edit(class="btn btn-outline-info") }}
                    </div>
                </fieldset>
            </form> </td>
		</tr>
		{% else %}
	</table>
	<table>
		<tr>
			<th>Helper</th>
			<th>tckn</th>
			<th>name</th>
			<th>telephone number</th>
			<th>school</th>
			<th>graduation year</th>
			<th> years worked here</th>
		</tr>
		<tr><form method="POST" action="">
                {{ add_form.csrf_token() }}
			{{ add_form.request_id(value=1) }}
			<td> {{add_form.submit}} </td>
			<td> {{ add_form.tckn}} </td>
			<td> {{add_form.name}} </td>
			<td> {{ add_form.tel_num}} </td>
			<td> {{add_form.school}} </td>
			<td> {{add_form.graduation_year}} </td>
			<td> {{add_form.years_worked}} </td>
			</form>
		</tr>
        {% endif %}
    </table>
    </br>
    
    <p><a href="{{url_for('inventory_page' , id = id , mode = 'p') }}"> My Inventory</a></p>
{% endif %}
    </br>
    </br>   
    <div class="content-section">
        <form method="POST" action="">
            {{ search_form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ search_form.select.label(class="form-control-label") }}
                    {{ search_form.select(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ search_form.search.label(class="form-control-label") }}
                    {{ search_form.search(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ search_form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
    </br>
    {% if searched %}
        <table>
            <caption> Pharmacies Found </caption>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Pharmacist</th>
                <th>Telephone number</th>
                <th>Next Night Shift </th>
            </tr>
            {% for items in results %}
            <tr>
                <td> <a href="{{url_for('inventory_page' , id = items[5] , mode = 'p') }}"> {{items[0]}} </a>  </td>
                <td>{{ items[1] }}</td>
                <td>{{ items[4] }}</td>
                <td>{{ items[3] }}</td>
                <td>{{ items[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}


{% endblock content %}
