{% extends "layout.html" %}
{% block title %}
    <h1>PRESCRIPTIONS</h1>
{% endblock title %}
{% block content %}
<table>
    <tr>
        <th>PRESCRIPTION ID </th>
        <th>HOSPITAL NAME </th>
        <th>DOCTOR NAME </th>
        <th>VALID UNTIL </th>
    </tr>
    {% for item in Prescriptions %}
    <tr>
        <td><a id='id'  pid={{item[0]}} href="{{ url_for('/Prescription/{id}/{pid}') }}">{{item[0]}}</a></td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}